# Working on Page:
1. get page properties ‚úÖ
2. update page properties ‚úÖ
1. Get page content 
1. Create new page
1. Retreive page

In [1]:
from driver import Connect, Page

In [2]:
TOKEN_API = "secret_R1CrUGn8bx9itbJW0Fc9Cc0R9Lmhbnz2ayqEe0GhRPq"
PAGE_URL = "https://www.notion.so/Tom-Simon-2ccdafe28955478b8c9d70bda0044c86"

In [3]:
Connect(TOKEN_API)
page = Page(PAGE_URL)

## 1. Get Page properties

In [4]:
page.properties.show()

                  üèÑüèΩ‚Äç‚ôÇÔ∏è  Axel Rasse
Date                     2021-09-25
Status                      Next up
Jobs             Astronaut, Danceur
Completion Time                   2
Email             rasseax@gmail.com
Maried                         True
Interviewer              Axel Rasse
Task                    Online Mode
Phone Number          06 92 556 337
Name                     Axel Rasse

## 2. Update page properties

In [5]:
page.properties["Name"] = "Axel Rasse"
page.properties["Task"] = "Online Mode"
page.properties["Email"] = "rasseax@gmail.com"
page.properties["Phone Number"] = "06 92 556 337"
page.properties.update()

‚ú® Properties have been updated

## 3. Get page content

## 4. Retreive page from database

## 5. Create a new page

## 6. Duplicate page