# Working on Page:
1. get page properties ✅
2. update page properties ✅
1. Get page content ✅
1. Retreive page from database 
1. Create new page
1. Duplicate a page ✅ 
    - duplicate also the children

In [1]:
from driver import Connect, Page, Database

In [2]:
TOKEN_API = "secret_R1CrUGn8bx9itbJW0Fc9Cc0R9Lmhbnz2ayqEe0GhRPq"
PAGE_URL = "https://www.notion.so/Tom-Simon-2ccdafe28955478b8c9d70bda0044c86"

In [3]:
Connect(TOKEN_API)
page = Page(PAGE_URL)

yu

## 1. Get Page properties

In [4]:
page.properties

Date                       2021-08-24
Status                        Next up
Jobs               Astronaut, Danceur
Completion Time                     2
Email               rasseax@gmail.com
Maried                           True
Interviewer                Axel Rasse
Task                      Online Mode
Phone Number            06 92 556 337
Name                     Thomas Bosco
dtype: object

## 2. Update page properties

In [5]:
page["Name"] = "Thomas Bosco"
page["Task"] = "Online Mode"
page["Email"] = "thomasleS@gmail.com"
page["Phone Number"] = "06 92 556 337"
page.update()

✨ Properties have been updated
yu

In [6]:
# has you can see properties have been updated
page.properties

Date                       2021-08-24
Status                        Next up
Jobs               Astronaut, Danceur
Completion Time                     2
Email               rasseax@gmail.com
Maried                           True
Interviewer                Axel Rasse
Task                      Online Mode
Phone Number            06 92 556 337
Name                     Thomas Bosco
dtype: object

## 3. Get page content

In [7]:
page.content

,type,content,id
0,heading_1,I am a Heading 1,5f61a979-86b3-424a-ace5-163dd8097967
1,heading_2,I am an Heading 2,019f4959-d54d-4348-a3d4-9aaaca6a34e1
2,heading_3,I am an Heading 3,a8d86c7f-5b94-4c86-bd4d-2e99338e2ebb
3,paragraph,i am a paragraph with different color,2744f0e0-7935-4a34-bc17-e4018430f753
4,bulleted_list_item,i am an unordered list,aa7b6a98-5e60-4d04-832d-03891c4fb7a4
5,numbered_list_item,i am an ordered list,b3bc1aee-2952-4ec9-894c-27b7915c11c9
6,to_do,i am a to do list,2ec20f0a-394d-44df-baae-ab0e3e9cddb5
7,toggle,i am a toggle,bb137b55-f4b3-4cc5-a22b-58db19e745db
8,child_page,I am a page,b607ffa9-0d2e-411d-a3b2-4b8899a045a3
9,child_page,Page created from Naas,fc380fdb-a898-46c3-8589-df4bf41f9e4b
10,child_page,Page created from Naas,ebd82540-97ca-484a-93e9-59bac0294e14
11,child_page,Page created from Naas,e059d633-9158-4624-98db-b1f32e06a306

## 4. Update content

In [8]:
# in the future

## 5. Retreive page from database

In [9]:
# DATABASE_URL = "https://www.notion.so/d0bb915c4cb4422a87679f3bb9658282?v=8cd7c6ea0ec244da9eb65aa88a87aabb"
# database = Database(DATABASE_URL)

In [10]:
# database.retreive()
# database.pages

[<helper.PageObject at 0x10ccfbf10>,
 <helper.PageObject at 0x10ccfbd90>,
 <helper.PageObject at 0x10ccfba30>]

TO DO:
- is there a way to keep order in rows and columns ?
- show the id or url for each columns

## 6. Create a new page

In [11]:
# database

## 7. Duplicate page

In [14]:

page["Name"] = "Created by Nass"
page["Jobs"] = "Chanteur"
page["Email"] = "axelito@gmail.com"
page.duplicate()

✅ Your data was added to Notion