# Working on Page:
1. get page properties ✅
2. update page properties ✅
1. Get page content 
1. Create new page
1. Retreive page

In [1]:
from driver import Connect, Page, Database

In [2]:
TOKEN_API = "secret_R1CrUGn8bx9itbJW0Fc9Cc0R9Lmhbnz2ayqEe0GhRPq"
PAGE_URL = "https://www.notion.so/Tom-Simon-2ccdafe28955478b8c9d70bda0044c86"

In [3]:
Connect(TOKEN_API)
page = Page(PAGE_URL)

## 1. Get Page properties

In [4]:
page.properties

Date                       2021-09-26
Status                        Next up
Jobs               Astronaut, Danceur
Completion Time                     2
Email               rasseax@gmail.com
Maried                           True
Interviewer                Axel Rasse
Task                      Online Mode
Phone Number            06 92 556 337
Name                       Axel Rasse
dtype: object

## 2. Update page properties

In [5]:
page["Name"] = "Axel Rasse"
page["Task"] = "Online Mode"
page["Email"] = "rasseax@gmail.com"
page["Phone Number"] = "06 92 556 337"
page._update_properties()

✨ Properties have been updated

## 3. Get page content

In [6]:
page.content

,id,has_children,type,content
0,5f61a979-86b3-424a-ace5-163dd8097967,False,heading_1,I am a Heading 1
1,019f4959-d54d-4348-a3d4-9aaaca6a34e1,False,heading_2,I am an Heading 2
2,a8d86c7f-5b94-4c86-bd4d-2e99338e2ebb,False,heading_3,I am an Heading 3
3,2744f0e0-7935-4a34-bc17-e4018430f753,False,paragraph,i am a paragraph with different color
4,aa7b6a98-5e60-4d04-832d-03891c4fb7a4,False,bulleted_list_item,i am an unordered list
5,b3bc1aee-2952-4ec9-894c-27b7915c11c9,False,numbered_list_item,i am an ordered list
6,2ec20f0a-394d-44df-baae-ab0e3e9cddb5,False,to_do,i am a to do list
7,bb137b55-f4b3-4cc5-a22b-58db19e745db,True,toggle,i am a toggle
8,b607ffa9-0d2e-411d-a3b2-4b8899a045a3,True,child_page,I am a page
9,fc380fdb-a898-46c3-8589-df4bf41f9e4b,True,child_page,Page created from Naas
10,ebd82540-97ca-484a-93e9-59bac0294e14,True,child_page,Page created from Naas
11,e059d633-9158-4624-98db-b1f32e06a306,True,child_page,Page created from Naas

## 4. Update content

In [7]:
## not now

## 5. Retreive page from database

In [8]:
DATABASE_URL = "https://www.notion.so/d0bb915c4cb4422a87679f3bb9658282?v=8cd7c6ea0ec244da9eb65aa88a87aabb"
database = Database(DATABASE_URL)

database.pages

,Date,Status,Jobs,Completion Time,Email,Maried,Interviewer,Task,Phone Number,Name
0,None,None,None,NaN,None,None,None,None,None,Page created from Naas
1,2021-09-26,Next up,"Astronaut, Danceur",2.0,rasseax@gmail.com,True,Axel Rasse,Online Mode,06 92 556 337,Axel Rasse
2,2021-08-11,Scheduled,dancer,3.0,rasseax@gmail.com,None,Axel Rasse,Onboarding Flow,None,Axel Rasse
3,2019-10-24T14:00:00.000-07:00,Scheduled,surfer,25.0,chelsea.zhang@gmail.com,None,,Onboarding Flow,None,Chelsea Zhang

## 6. Create a new page

In [9]:
# database

## 7. Duplicate page

In [10]:
# page.duplicate()
page

In [12]:
page._raw_properties.keys()

dict_keys(['Date', 'Status', 'Jobs', 'Completion Time', 'Email', 'Maried', 'Interviewer', 'Task', 'Phone Number', 'Name'])